__pycache__/
*.pyc
*.pyo
*.pyd
*~

.ignore

# testing and documentation
src/wetsuite/coverage.txt
src/wetsuite/.coverage
src/wetsuite/tests/coverage.txt
src/wetsuite/docs/api
src/wetsuite/unsorted/

# distribution
src/wetsuite.egg-info/*
dist/*

src/wetsuite/tests/testfiles/eclitest.txt
